.content {
  margin: 16px;
}

.led-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Set desired maximum width */
  max-height: 600px; /* Set desired maximum height */
  overflow: auto; /* Enable scrolling */
  border: 1px solid #ccc; /* Optional: Add a border */
  padding: 10px; /* Optional: Add padding */
}

.led-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  gap: 2px;
}

.led-button {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

.notation {
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
